.swiper{
  padding-left: 2rem;
  padding-right: 2rem;

}
.swiper-pagination-bullet-active{
  background-color: black;
}
.swiper-button-next{
  right: var(--swiper-navigation-sides-offset, 1px);
  top: var(--swiper-navigation-top-offset, 40%);
}
.swiper-button-prev{
  left: var(--swiper-navigation-sides-offset, 1px);
  top: var(--swiper-navigation-top-offset, 40%);
}